{% extends 'base.html' %}

{% block content %}
<div class="checkout_form">
    <form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}

        <label>Address:</label>
        {{form.address}}


        <label>Delivery Method: </label>
        {{form.delivery}}


        <label>Payment Methods: </label>
        {{form.payment_method}}

        <h3>Shipment details</h3>

        {% for item in items %}
        <p>{{item.quantity}}X    <span>{{item}}</span></p>
        <p>Fulfilled by {{item.item.vendor}}</p>
        <hr>
        {% empty %}
        <p>Empty Cart</p>
        {% endfor %}

        <p><i>TOTAL</i> {{total}}</p>

        <input type="checkbox" required> <span>I agree to the <a href="">Terms and Conditions</a>.</span>

        <a href="{{request.META.HTTP_REFERER}}"><input type="submit" value="Go Back"></a>
        <input type="submit" value="confirm">


    </form>
</div>

{% endblock %}