{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
  .main_store_home{
    display:grid;
    grid-template-columns:1fr 3fr 1fr;
  }

  .main_store_categories a{
    text-decoration:none;
    color:black;
  }

  .main_store_categories li{
    list-style-type:none;
  }

  .items_list{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 30px;
    column-gap: 30px;
  }

  .item{
    border:1px solid black;
    padding-right:-30000px;
  }

  .item_image{
    width:200px;
  }

  .cart_logo img{
    width:50px;
    float:right;
    padding:10px;
  }

  .like_item{
    width:40px;
  }

  .sales_activity{
    border:1px solid black;
    margin-left:10px;
    margin-right:10px;
    border-radius:5px;
  }

   .sales_activity img{
    width:30px;
  }

  .sales_activity {
    width:30px;
  }


</style>


<div class="main_store_home">

  <div class="main_store_categories">
    <h3>Categories</h3>
      <ul>
        {% for category in categories %}
        <a href="{% url 'main_store:index' %}?search={{category.name}} "><li>{{category}}</li></a>
        {% empty %}
        <p>No categories Available</p>
        {% endfor %}
      </ul>


  </div>

  <div class="main_store_items">
        <h2>Items Available</h2>
        <p>{{items.count}} Available

          <div class="items_list">
            {% for item in items %}
            <div class="item">
                  <img src="{{item.picture_of_product_1.url}}" alt="{{item.name}}" class="item_image">
                  <h4>{{item.name}}</h4>
                  <p>{{item.price}}</p>

                <div class="cart_logo">
                    <a href="{% url 'main_store:add_to_cart' item.id %}"><img src="{% static 'images/add-to-cart.png' %}" alt="remove_from_cart" class=""></a>
                </div>

                <div>
                    <a href="{% url 'main_store:save_item' request.user.id item.id %}"><img src="{% static 'images/heart.svg' %}" alt="like_item" class="like_item"></a>
                </div>
              </div>

            {% empty %}
            <p>No items Available</p>
            {% endfor %}

        </div>

    </div>

  <div class="recent_sales">
    <h2>Recent Sales</h2>

      {% for sale in sales %}
      <div class="sales_activity">
          <img src="{{sale.user.profile_picture.url}}" alt="{{sale.user.username}}">
          <p>{{sale.user.username}} purchased {{sale.quantity}}X of {{sale.item.name}} from {{sale.item.vendor.user.username}} </p>
          <hr>
          <span>{{sale.item.get_category}}</span>

      </div>
      <br>
      {% empty %}
      <p>No Sales Yet</p>
      {% endfor %}
  </div>

</div>
{% endblock %}