<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Abraham Adekunle - An amazing human.</title>
    {%load static%}
    <link rel="icon" href="{% static 'portfolio/images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Tangerine:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="first">
      <img class="sun-ray" src="{% static 'portfolio/images/cloudy.png' %}">
      <h1>I'm Abraham.</h1>
      <p class="header-desc"> A Software Developer(intern)</p>
      <img class="cloud" src="{% static 'portfolio/images/cloudy.png'%}">
      <img class="landscape" src="{% static 'portfolio/images/land.svg' %}">
    </div>
    <div class="second">
      <div class="profile">
        <img class="profile-picture" src="{% static 'portfolio/images/47.jpg' %}" alt="profile-picture">
        <h2>Hi there!</h2>
        <p class="intro">I'm a Software Developement intern, based in Ibadan,Oyo, Nigeria. I'm interested in sports, tech and life as a whole. I am also a geologist.</p>
      </div>
      <hr>
      <div class="skills">
        <h2> What I can do.</h2>
        <div class="skill-set">
          <img class="solutions" src="{% static 'portfolio/images/solutions.png' %}" alt="solutions">
          <h3>I build websites.</h3>
          <p>As a developer, I can build websites to run across devices using latest technologies.</p>
        </div>
        <div class="skill-set">
          <img class="geophysicst" src="{% static 'portfolio/images/earth.png' %}" alt="geophysicst">
          <h3>I rock the earth.</h3>
          <p>I have a bachelor's degree in geology. I have interest in exploration,petroleum and environmental geophysics.</p>
        </div>
        <div class="skill-set">
          <img class="football" src="{% static 'portfolio/images/soccer-player.png' %}" alt="football">
          <h3>I play football</h3>
          <p>I have a heavy passion for football. I play multiple positions, namely Right-Back, Centre-Back, Left-Back, Defensive-midfield  .</p>
        </div>
      </div>
      <hr>
      <div class="contact-me">
        <h2>I can assist</h2>
        <h3>I'm available to help.</h3>
        <p class="contact">If you have a project that you think fits my portfolio, or you need my help with something, or just want to say hello, then get in touch.</p>
        <a class="btn" href="mailto:gadekunle@afexnigeria.com">MESSAGE ME</a>
      </div>
    </div>
    <div class="third">
      <a class="footer-link" href="https://twitter.com/koder_black">Twitter</a>
      <a class="footer-link" href="https://github.com/NoBoneZ">GitHub</a>
      <a class="footer-link" href="https://www.linkedin.com/in/abraham-adekunle-35269422b/">LinkedIn</a>
      <p class="copyright"> © 2022 Abraham Adekunle. All rights reserved</p>
    </div>
  </body>
</html>