{% extends "base_generic.html" %}


{% block title %}
<title>{{article}}</title>
{% endblock %}


{% block content %}
<h1>{{article.title.capitalize}}</h1>
<p>by <a href="{% url 'blog:author-details' article.author.id %}">{{article.author}}</a></p>
<p><strong>Post date : {{article.date_uploaded}}</strong></p>
<br>
<p><strong>Update date: {{article.date_updated}}</strong></p>
<br>
<hr>
<h3>Description</h3>


{% if article.image %}
    <img src="{{article.image.url}}" alt="{{article.title}} image">
{% endif %}
<p>{{article.body}}</p>


<br>
<br>
<br>
<br>
<br>


<h3>Comments</h3>
<hr>
{% if user.is_authenticated and not user.is_staff %}
    {% for comment in active_comments %}
        <p><strong>{{comment.comment}}</strong></p>
        <p>by {{comment.commenter_name}} on {{comment.date_of_comment}}</p>
        <hr>
    {% endfor %}

{% elif user.is_staff %}
     {% for comment in all_comments %}
        <p><strong>{{comment.comment}}</strong></p>
        <p>by {{comment.commenter_name}} on {{comment.date_of_comment}}
                {% if user.first_name == article.author.firstname and user.last_name == article.author.lastname and not comment.is_delete %}
        ---<small><a href="{% url 'blog:delete-comment' article.slug comment.id  %}">Delete Comment</a></small>{% endif %}
        </p>

        {% if comment.is_delete %}
                <p><em>Deleted</em></p>
                        {% if user.first_name == article.author.firstname and user.last_name == article.author.lastname %}
                                <small><a href="{% url 'blog:restore-comment' article.slug comment.id%}">Restore Comment</a></small>
                        {% endif %}
        {% else %}
                 <p><em>Active</em></p>
        {% endif %}
        <hr>
    {% endfor %}

{% endif %}




<h3>Post Your comment</h3>
<form action="" method="post" id="comment-form">
{% csrf_token %}
<p id="comment">
{{ comment_form }}
</p>
<input type="submit"  id="submit-comment" value="Submit">
</form>
<hr>

<div></div>
<!--<script>-->
<!--    const comment ={-->
<!--    submit : document.getElementById("submit-comment")-->

<!--    };-->


<!--    comment.submit.addEventListener('click', () => {-->
<!--        const request = new XMLHttpRequest();-->


<!--        request.onload = () =>{-->
<!--            console.log(request.responseText);-->
<!--        };-->


<!--        request.open("post", "./views");-->
<!--        request.setRequestHeader('content-type', "blog:article-comment");-->
<!--        request.send(requestData);-->
<!--    });-->


<!--</script>-->


<script>

    $(document).on('submit','#comment-form', function(e){
            e.preventDefault();

            $.ajax({
                type :"post",
                url: "{% url 'blog:article-details' article.slug %}",
                data:{
                    comment : $("#comment").val()
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
                },
                success:function(){
                        alert("added new comment");
                }
            });
    });
</script>
{% endblock %}

